.fade-enter {
    width: max-content;
    margin-left: 3000px;
    overflow: hidden;
    opacity: 1;
    z-index: 1;
}

.fade-enter-active {
    width: max-content;
    margin-left: 0px;
    transition: margin-left 0.7s ease-out;
    overflow: hidden;
    opacity: 1;
    z-index: 1;
}

.fade-exit {
    width: max-content;
    overflow: hidden;
    opacity: 1;
    z-index: 0;
}

.fade-exit-active {
    width: max-content;
    opacity: 1;
    z-index: 0;
    overflow: hidden;
}
