@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
body {
    background: var(--main);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
}
.link {
    font-size: 30px;
    color: var(--white);
    transition: color 0.2s ease-out;
    text-decoration: none;
    &:hover {
        color: var(--secondary);
    }

    cursor: pointer;
}
.link__active {
    font-size: 30px;
    color: var(--secondary);
    transition: color 0.2s ease-out;
    text-decoration: none;

    &:hover {
        color: var(--secondary);
    }

    cursor: pointer;
}
