:root {
    --main: linear-gradient(
        180deg,
        #1a1a1a 0%,
        #282828 14.29%,
        #2d2d2d 28.57%,
        #2c2c2c 42.86%,
        rgba(40, 40, 40, 0.96) 57.14%,
        #2f2f2f 71.43%,
        rgba(35, 35, 35, 0.98) 85.71%,
        #0e0e0e 100%
    );
    --white: #fff;
    --secondary: #ff9900;
    --footer:#363535;
    --container:90%;
    --card:rgba(30, 31, 31, 0.80);
}
